beautifulsoup4==4.12.3
certifi==2024.8.30
charset-normalizer==3.3.2
idna==3.10
PyPDF2==3.0.1
pypng==0.20220715.0
qrcode==7.4.2
requests==2.32.3
soupsieve==2.6
typing_extensions==4.12.2
urllib3==2.2.3
